// Zellij configuration for Dreamcoder OS
// https://github.com/dreamcoder08/dreamcoder-dots

env {
    CARGO_INCREMENTAL "0"
}

keybinds {
    normal {
            bind "Alt n" { NewTab; SwitchToMode "Normal"; }
            bind "Alt j" { GoToPreviousTab; }
            bind "Alt k" { GoToNextTab; }
            bind "Alt 1" { GoToTab 1; SwitchToMode "Normal"; }
            bind "Alt 2" { GoToTab 2; SwitchToMode "Normal"; }
            bind "Alt 3" { GoToTab 3; SwitchToMode "Normal"; }
            bind "Alt 4" { GoToTab 4; SwitchToMode "Normal"; }
            bind "Alt 5" { GoToTab 5; SwitchToMode "Normal"; }
            bind "Ctrl t" { SwitchToMode "Tab"; }
        }
    locked {
        bind "Ctrl b" { SwitchToMode "Resize"; }
    }
    resize {
        bind "k" { Resize "Up"; }
        bind "j" { Resize "Down"; }
        bind "h" { Resize "Left"; }
        bind "l" { Resize "Right"; }
        bind "Ctrl b" { SwitchToMode "Locked"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    compact-bar { path "compact-bar"; }
}

// Theme
theme "dreamcoder-light"
